<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>A Single Text Book</title>
</head>
<body>
		<h1> A Single Text Book </h1>

		<div th:each = "textbook: ${textbooks}">
			<h2 th:text = "${textbook.title}"></h2>
		</div>
		<div th:each = "course: ${courses}">
			<h2>Course or Courses Using This Textbook...</h2>
			<h3>
				<a th:href="@{/course(id=${course.id})}" th:text = "${course.name}"></a>
			</h3>
		</div>
			
		<footer>
			<a href="http://localhost:8080/show-textbooks"> Back to Text Books Home</a>
		</footer>

</body>
</html>